.about {
    padding: 20px ;
    background-color: #fff;

}

.underheading {
    font-weight: lighter;
}

h1 {
    font-weight: lighter;
    justify-content: center;
}

h2 {
    padding: 10px;
}

li {
    padding-left: 10px;
}
p {
    padding: 10px;
}

.bolddis {
    font-weight: bold;
    padding-top: 20px;
}

.reslink {
    padding-top: 50px;
}